body{
    background-color: #A9A9A9;
    margin:20px;

}
#fieldset{
    background-color:#DC143C;
    border-radius: 5px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
}
#legend{
    background-color: #6495ED;
    padding: 5px;
    border-radius: 5px;
}
#name{
    margin-left: 5px;
}
table{
    
    border-collapse: collapse;
    border-color:grey;
    border-spacing: 2px;
    background-color: white;
    padding: 2px;   
}
th{
    background-color: #5F9EA0;
    color:white ;
}

